# Entorno virtual
venv/
__pycache__/
*.pyc
*.pyo

# Archivos de configuración y dependencias
.env
instance/
config/database.py

# Logs y caché
logs/
*.log
.DS_Store

# Archivos de compilación y dependencias
*.egg-info/
*.dist-info/
build/
dist/
